h1 {
  text-align: center;
}

body {
  background-image: url("https://mcdn.wallpapersafari.com/medium/51/6/qmYEGR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

}



#color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.color {
  border: 1px solid black;
  border-radius: 45px;
  transition: all 0.5s;
  cursor: pointer;
  transform: scale(1.0);
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding: 20px;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
 
}
.black {
  background-color: black;
 
}

.red {
  background-color: rgb(255, 0, 0);
}


.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

button {
  width: 100px;
  height: 40px;
  margin: 50px;
  display: block;
  margin: 0 auto;
  color: black;
  background-color: aqua;
  border-radius: 10px;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 125px;
  margin: 0 auto;
  padding: 35px;
}

.pixel {
  width: 40px;
  height: 40px;
  margin: 0px;
  background-color: white;
  border: 1px solid black;
  padding: 2px;
}

#clear-board {
  background-color: aqua;
  color: black;
  position: relative;
  padding: 10px;
  top: 10px;
  left: 2px
  


}
